{#{% extends "admin/base_site.html" %}#}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <h2 style="color: #d22;">{{ title }}</h2>
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">{{ item }}</li>
            {% endfor %}
        </ul>
        <input type="hidden" name="action" value="{{ action }}" />
        <input type="submit" name="apply" value="Сохранить" />
    </form>
{% endblock %}